*{
  margin: 0;
  padding: 0;
}

body {background-color: black;}

.slider {
  width: 80%;
  height: 90vh;
  overflow: hidden;
  border-radius: 20px;
}

.centered {
  margin: 50px auto auto;
}

.underSlide {
  display: flex;
  width: 85%;
  margin: 50px auto auto;
  justify-content: space-between;
}
.text-slider {
  width: 80%;
  overflow: hidden;
}

.text-slides {
  width: 400%;
  display: flex;
}
.text-slide {
  color: white;
  width: 25%;
  height: 100%;
  font-size: 32px;
}
.navigation {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.item {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #71BAFF;
  transition: all .4s ease;
}

.item:hover {
  background-color: white;
  cursor: pointer;
}

input[name="radio"] {
  visibility: hidden;
  position:absolute;
}
.slide {
  width: 25%;
  transition: all .6s ease;
}
.slide img {
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
  /* border-radius: 10px; */
}

.slides {
  width: 500%;
  height: 80%;
  display: flex;
}

#radio1:checked ~ .slides .slide1 {
  margin-left: 0;
}

#radio2:checked ~ .slides .slide1 {
  margin-left: -25%;
}

#radio3:checked ~ .slides .slide1 {
  margin-left: -50%;
}

#radio4:checked ~ .slides .slide1 {
  margin-left: -75%;
}

#radio1:checked ~ .underSlide .navigation .item1 {
  background-color: transparent;
  border: 5px solid white;
}

#radio2:checked ~ .underSlide .navigation .item2 {
  background-color: transparent;
  border: 5px solid white;
}

#radio3:checked ~ .underSlide .navigation .item3 {
  background-color: transparent;
  border: 5px solid white;
}

#radio4:checked ~ .underSlide .navigation .item4 {
  background-color: transparent;
  border: 5px solid white;
}

#radio1:checked ~ .underSlide .text-slider .text-slides .text-slide1 {
  margin-left: 0;
}

#radio2:checked ~ .underSlide .text-slider .text-slides .text-slide1 {
  margin-left: -25%;
}

#radio3:checked ~ .underSlide .text-slider .text-slides .text-slide1 {
  margin-left: -50%;
}

#radio4:checked ~ .underSlide .text-slider .text-slides .text-slide1 {
  margin-left: -75%;
}